
test/var/config/installer.ini.php
test/temp/*
!test/temp/.dummy
test/var/log/*
!test/var/log/.dummy
test/var/mails/*
!test/var/mails/.dummy
*.komodoproject
test/var/config/profiles.ini.php
test/vendor/*
vendor/*
.vagrant
composer.lock