<?xml version="1.0" encoding="iso-8859-1"?>
<events xmlns="http://jelix.org/ns/events/1.0">
   <listener name="authphorum">
      <event name="AuthNewUser" />
      <event name="AuthUpdateUser" />
      <event name="AuthCanRemoveUser" />
      <event name="AuthRemoveUser" />
      <event name="AuthCanLogin" />
      <event name="AuthLogin" />
      <event name="AuthLogout" />
      <!--<event name="jcommunity_account_show" />
      <event name="jcommunity_init_edit_form_account" />
      <event name="jcommunity_prepare_edit_account" />
      <event name="jcommunity_check_before_save_account" />
      <event name="jcommunity_save_account" />
      <event name="jcommunity_registration_init_form" />
      <event name="jcommunity_registration_prepare_save" />
      <event name="jcommunity_registration_after_save" />
      <event name="jcommunity_registration_confirm" />-->
   </listener>
</events>