;<?php die(''); ?>
;for security reasons, don't remove or modify the first line

; name of the default profil to use for any connection
default = myapp

[myapp]
;driver="mysql"
;database="jelix"
;host= "localhost"
;user= "root"
;password=
;persistent= on
;force_encoding = on
