
forceHTTPPort=8024

[jcommunity]
;loginResponse = html
;verifyNickname = on
;registrationEnabled=on
;resetPasswordEnabled=on
;passwordChangeEnabled=on
;accountDestroyEnabled=on
;useJAuthDbAdminRights=off
;publicProperties[]=login
;publicProperties[]=nickname
;publicProperties[]=create_date
;disableJPref = on
