;<?php die(''); ?>
;for security reasons, don't remove or modify the first line
[jdb]

; name of the default profil to use for any connection
default=test

[jdb:test]
;driver="mysql"
;database="jelix"
;host= "localhost"
;user= "root"
;password=
;persistent= on
;force_encoding = on
